.swipe-menu {
    display: flex;                 
    flex-direction: column;        
    justify-content: center;       
    align-items: center;       
    position: fixed;
    left: 0;
    top: 0;
    width: 46.5px;
    min-height: 100vh;
    background-color: #CE9F9F;
    transition: width 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}
.sidebar {
    display: flex;                 
    flex-direction: column;        
    justify-content: center;       
    align-items: center;           
    height: 100%;                  
}
.sidebar button {
    width: 99%;                   
    margin: 12px 0;               
    
}

.swipe-menu.open {
    width: 47%;
}